{% extends "main/base.html" %} {% load static %} {% block content %}
<div class="container my-5">
  <div class="card shadow-sm">
    <div class="card-header text-white">
      <h2 class="mb-0">Submit Your Feedback</h2>
    </div>
    <div class="card-body">
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="id_safety_perception" class="form-label"
              >Safety Perception</label
            >
            {{ form.safety_perception }}
            <div class="form-text">
              Rate your perception of safety while using the app on a scale of 1
              to 5.
            </div>
          </div>
          <div class="col-md-6">
            <label for="id_app_usage_frequency" class="form-label"
              >App Usage Frequency</label
            >
            {{ form.app_usage_frequency }}
            <div class="form-text">
              How often do you use the StreetWise app? (e.g., Daily, Weekly)
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="id_route_changed" class="form-label">Route Changed</label>
          {{ form.route_changed }}
          <div class="form-text">
            Have you changed your walking route based on the app's information?
          </div>
        </div>
        <div class="mb-3">
          <label for="id_most_useful_features" class="form-label"
            >Most Useful Features</label
          ><br />
          {{ form.most_useful_features }}
          <div class="form-text">
            What features of the app do you find most useful?
          </div>
        </div>
        <div class="mb-3">
          <label for="id_improvements_suggested" class="form-label"
            >Improvements Suggested</label
          ><br />
          {{ form.improvements_suggested }}
          <div class="form-text">
            What improvements would you suggest for the app?
          </div>
        </div>
        <div class="mb-3">
          <label for="id_other_comments" class="form-label"
            >Other Comments</label
          ><br />
          {{ form.other_comments }}
          <div class="form-text">
            Any additional comments or feedback you would like to share?
          </div>
        </div>
        <div class="text-end">
          <button type="submit" class="btn">Submit Feedback</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
